.corDeFundoBranco {
    background-color: #F5F5F5;
    visibility: hidden;
 
}


.corBotaoRosa {
    background-color: #C92071;
}
.corBotaoRosa:hover{
    transform: scale(1.1);
    transition: 1s;
}


.icone {
    width: 70px;
    background-color: #FFFFFF;
    border-radius: 30px;
}
.icone:hover{
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

.cardSapatoComp3 {
    background-color: white;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px #c9207232 ;
    visibility: hidden;


}
.cardSapatoComp3:hover{
    transform: scale(1.1);
    transition: 1s;
    border: 1px solid #c92071;
    cursor: pointer;
    border-radius: 10px;
}
.rotation{
    transform: rotate(-30deg);
}

.corFontePreço {
    color: lightgray;
}

.fundoCard {
    background-color: #D7E3F1;
}
.fundoCard:hover{
    transform: scale(1.1);
    transition: 1s;
   border: solid 1px #c92071;
   cursor: pointer;
}

.desconto {
    background-color: #E7FF84;
    padding: 10px 0px 10px 5px;
    width: 70px;
    border-radius: 30px;
}

.corFonteBotaoComp1 {
    color: #C92071;
}
.corFonteBotaoComp1:hover{
    background-color: #C92071;
    color: white;
}

.gradiente {
    background-image: linear-gradient(to bottom, #4400ff38, rgba(255, 255, 255, 0.31));
    border-radius: 400px 400px 0px 0px;
    padding-top: 40px;
    margin-bottom: 100px;
}

.corBotaoRosa {
    background-color: #C92071;
}

.corFonteRosa {
    color: #C92071;
}

.corDeFundoComp4 {
    background-color: white;
    padding-top: 50px;
}